@charset "utf-8";

/* 태블릿 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 아이콘 숨기기 */
  .header-bt .menu .store {
    display: none;
  }
  .header-bt .login .icon1,
  .icon2 {
    display: none;
  }
  .login > li > a > p {
    font-size: 15px !important;
  }
  /* 비주얼 영역 */
  .visualSwiper {
    width: 100%;
    height: 30vw;
  }

  /* happynewyear txt*/
  .event p {
    font-size: 30px !important;
  }

  /* event txt */
  .et-inner span {
    font-size: 1.5vw;
    word-break: keep-all;
    display: block;
  }
  /* 전체 텍스트 */
  .txt-wrap h3 {
    font-size: 15px;
  }
  .txt-wrap span {
    font-size: 14px;
  }
  .txt-wrap p {
    font-size: 14px;
  }
  /* inner h2 */
  .new-inner h2 {
    font-size: 25px !important;
  }
  .bt-inner h2 {
    font-size: 25px !important;
  }
  .rec-inner h2 {
    font-size: 25px !important;
  }
  .stat-inner h2 {
    font-size: 25px !important;
  }
  /* stat 섹션 */

  .stat-section1 .stat {
    width: calc((100% - 80px) / 4) !important;
  }
  /* .stat-section2 .stat {
    display: block;
    width: calc((100% - 80px) / 4) !important;
  } */

  /* 스와이퍼 버튼 */
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 28px !important;
  }
  /* event txt */
  .txt .eng_2 {
    /* 1. 높이가 있어야 합니다. */
    height: 36px;
    /* 2. 넘치는 영역을 가린다. */
    overflow: hidden;
    /* 3. display: -webkit-box */
    display: -webkit-box;
    /* 4. text-overflow: elipsis */
    text-overflow: ellipsis;
    /* 5. 아래 코드를 입력한다. */
    -webkit-line-clamp: 1; /*두번쨰가 ...처리*/
    -webkit-box-orient: vertical; /*기준 vertical*/
  }
  .marquee span {
    float: left;
    width: 50%;
    font-size: 13px !important;
  }
  /*all-title 텍스트(브랜드,상품명,가격) */
  .txt-wrap h3 {
    font-size: 17px !important;
  }
  .txt-wrap span,
  p {
    font-size: 15px !important;
  }
}

/* 모바일 */
@media (max-width: 480px) {
  .header-bt .menu .store {
    display: none;
  }
  .login .icon1,
  .icon2 {
    display: none;
  }
  .login > li > a > p {
    font-size: 18px !important;
    display: block;
  }
  .visual {
    display: none;
  }
  /*------m-visual------ 영역*/
  .m-visual {
    display: block !important;
  }

  /* happynewyear txt*/
  .event p {
    font-size: 25px !important;
  }

  /* 전체 텍스트 */
  .txt-wrap h3 {
    font-size: 14px;
  }
  .txt-wrap span {
    font-size: 14px;
  }
  .txt-wrap p {
    font-size: 14px;
  }
  /* inner-h2 */
  .bt-inner h2 {
    font-size: 24px !important;
  }
  .new-inner h2 {
    font-size: 24px !important;
  }
  .rec-inner h2 {
    font-size: 24px !important;
  }
  .stat-inner h2 {
    font-size: 24px !important;
  }
  .stat-inner .txt-wrap h3 {
    font-size: 10px !important;
  }
  /* event txt */
  .txt .eng_2,
  .txt .eng_1 {
    display: none;
  }
  .marquee span {
    float: left;
    width: 100%;
    font-size: 10px !important;
  }
  /* 이벤트 설명 */
  .et-inner span {
    font-size: 10px;
    word-break: keep-all;
    display: block;
  }
  /*all-title 텍스트(브랜드,상품명,가격) */
  .txt-wrap h3 {
    font-size: 15px !important;
    word-break: break-word !important;
  }
  .txt-wrap span,
  p {
    font-size: 10px !important;
    word-break: break-word;
  }
  /* 스와이퍼 버튼 사이즈 변경 */

  .swiper-button-next:after {
    position: absolute;
    left: 35px;
    font-size: 30px !important;
    font-weight: bold;
    z-index: 99999;
  }
  .swiper-button-prev:after {
    position: absolute;
    right: 35px;
    font-size: 30px !important;
    font-weight: bold;
  }
  .stat-section1 .stat {
    width: calc((100% - 80px) / 3) !important;
  }
  /* footer 영역*/
  .info1 li {
    font-size: 10px;
  }
  .footer-right {
    display: none !important;
  }
}
